  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500&display=swap');
  * {
    font-family: 'IBM Plex Sans KR', sans-serif;
    color: rgb(19, 18, 18);
    
  }

/* 회원가입 영역 */

#logo{
	
	width: 120px;
    height: 100px;
    margin-left: 425%;
    
}


.signUp-content{
    display: flex;
    justify-content: center;
    
}

.villageHall{

    font-size : 30px;
    font-weight: bold;
    color:#55710F;
    display: flex;
    justify-content: center;
    padding-bottom: 5px; 
}

/* 필수 */
.required{
    color : red;
    padding : 0 5px; 
}

/* 회원가입 폼 */
form[name="signUp-form"]{ 
    margin-top: 30px;
}

/* 회원가입 폼 내부 input 제목(label) */
form[name="signUp-form"] > label{
    display: block;
    margin-top: 40px;
    font-size : 18px;
}

/* input을 감싸고있는 div */
.signUp-input-area{ 
    width: 500px;
    height: 50px;

    margin-bottom : 10px;

    display: flex;
    align-items: center; /* 세로 중앙 */
}

/* input에 포커스가 맞춰졌을 때 밑줄 색 변화 */
/* :focus-within  : 내부 input에 포커스가 맞춰졌을 때  */
.signUp-input-area > input:focus-within  {
	
    border: 2px solid forestgreen;
}

/* input태그 */
.signUp-input-area > input{
    width: 100%;
    height: 45px;
    padding : 15px 10px 5px; /* 상, 좌우, 하 */
  	background-color: rgb(240, 244, 240);
  	border :5px solid rgb(240, 244, 240);
  	border-radius: 5px;
 
    font-size: 15px;
  

    outline: 0; /* input 선택 시 테두리 */
}




/* button 태그 */
.signUp-input-area > button{
    width: 30%;
    height: 40px; 
    background-color: #55710F;
    border : 1px solid #55710F;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    
   
}


/* 회원가입 관련 메세지 */
.signUp-message{
    font-size: 12px;
    letter-spacing: -1px; /* 자간 */
}

.confirm{ color : green;}
.error{  color : red;  }

/*프로필 사진 부분*/


/* 가입하기 버튼 */
#signUp-btn{
	
	display: flex;
    justify-content: center;
    width: 60%;
    height: 45px;
    padding : 10px;
    margin: 50px 90px 5px ;
    border : 0;
    border-radius: 5px;

    font-size: 15px;
    font-weight: bold;

    color : white;
    background-color: #55710F;
    

    cursor: pointer;
    margin-bottom: 120px;
    
}

/*카카오 버튼*/
#kakao-btn{
	
	display: flex;
    padding-left: 90px;
    padding-bottom: 100px;
    margin-bottom:80px;
    
   
}


